<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">login</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ingresa a TellevoApp</ion-card-title>
      <ion-card-subtitle>Solo a un click del viaje</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input placeholder="Email" [(ngModel)]="usuario"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input placeholder="Password" [(ngModel)]="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-button (click) = "ingreso()">Ingresar</ion-button>
          <ion-button (click) = "restablecer()">Restablecer Contraseña</ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
